<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Processing Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header class="header">
    <div class="header-container">
        <div class="logo">
            <img src="/static/logo.png" alt="Website Logo">
        </div>
        <nav class="navigation">
            <ul>
                <li><a href="/delete">Home</a></li>
                <li><a href="#" onclick="scrollToFeatures()">Features</a></li>
                <li><a href="/developers" >About Us</a></li>
                <li><a href="#"onclick="scrollToContact()">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<section class="hero">
    <div class="container">
        <div class="hero-content">
            <h1 class="hero-heading">Transform Your Images<br>with Our Cutting-Edge Tools!</h1>
            <p class="hero-description">Crop, resize, and edit your photos effortlessly.</p>
            <a href="/start" class="hero-button">Get Started</a>
        </div>
    </div>
</section>


<section class="features">
    <div class="container">
        <h2 class="section-heading" id="features">Features</h2>
        <div class="feature">
            <div class="feature-details">
                <h3>Cropping the image</h3>
                <p>Easily crop your images to focus on the desired area.</p>
                <p>1. Upload the image.</p>
                <p>2. Give the %area to be cropped and click on crop.</p>
                <a href="/start" class="try">Try This</a>
            </div>
            <div class="feature-example">
                <img src="/static/crop_img.jpg" alt="Cropped Image Example">
            </div>
        </div>
        <div class="feature">
            <div class="feature-example">
                <img src="/static/rot.jpg" alt="Rotated Image Example">
            </div>
            <div class="feature-details">
                <h3>Rotating the image</h3>
                <p>Rotate your images to the desired orientation.</p>
                <p>1. Upload the image.</p>
                <p>2. Give the angle of rotation and click Rotate button.</p>
                <a href="/start" class="try">Try This</a>
            </div>
        </div>
        <div class="feature">
            <div class="feature-details">
                <h3>Adding blur to the image</h3>
                <p>Apply blur effects to create a soft focus.</p>
                <p>1. Upload the image.</p>
                <p>2. Give the blur intensity and click on Add Blur.</p>
                <a href="/start" class="try">Try This</a>
            </div>
            <div class="feature-example">
                <img src="/static/blur.webp" alt="Blurred Image Example">
            </div>
        </div>
        <div class="feature">
            <div class="feature-example">
                <img src="/static/inhance.webp" alt="Enhanced Image Example">
            </div>
            <div class="feature-details">
                <h3>Enhance the image</h3>
                <p>Enrich your image by adjusting contrast, exposure, brightness, saturation, and more for image enhancement.</p>
                <p>1. Upload the image.</p>
                <p>2. Click on Enhance button.</p>
                <a href="/start" class="try">Try This</a>
            </div>
        </div>
        <div class="feature">
            <div class="feature-details">
                <h3>Reduce the file size</h3>
                <p>Compress images to reduce file size while maintaining quality.</p>
                <p>1. Upload the image.</p>
                <p>2. Give the desired size and click on Reduce Image.</p>
                <a href="/start" class="try">Try This</a>
            </div>
            <div class="feature-example">
                <img src="/static/compress.png" alt="Resized Image Example">
            </div>
        </div>
        <div class="feature">
            <div class="feature-example">
                <img src="/static/rem.jpg" alt="Background Removed Image Example">
            </div>
            <div class="feature-details">
                <h3>Remove the background</h3>
                <p>Effortlessly remove the background of an image for a clean look.</p>
                <p>1. Upload the image.</p>
                <p>2. Click on Remove Background.</p>
                <a href="/start" class="try">Try This</a>
            </div>
        </div>
        <a href="/start" class="hero-button">Get Started</a>
    </div>
</section>

<footer class="footer">
    <div class="fcontainer">
        <div class="footer-content">
            <div class="footer-section">
                <h3>Contact Information</h3>
                <ul>
                    <li>Email: aksherwal110@gmail.com</li>
                    <li>Phone: +91 9557521160</li>
                    <li>Address: SRMCEM, Lucknow(U.P.), India</li>
                </ul>
            </div>
            <div class="footer-section">
                <h3 id="contact">Follow Us</h3>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/aakash-kumar-aa0b591b8/"><img src="/static/linkedIN.png"></i></a>
                    <a href="https://github.com/Aksherwal"><img src="/static/github.png"></i></a>
                </div>
            </div>
            <a href="#" id="scrollToTopBtn" onclick="scrollToTop()">
                <img src="/static/swap-up.png" alt="Scroll to Top">
            </a>
        </div>
        <div class="copyright">
            <p>&copy; 2024 aksNdeepEdits. All rights reserved.</p>
        </div>
    </div>
</footer>


<script>
    function scrollToFeatures() {
        var featuresSection = document.getElementById('features');
        featuresSection.scrollIntoView({ behavior: 'smooth' });
    }
    function scrollToContact() {
        var featuresSection = document.getElementById('contact');
        featuresSection.scrollIntoView({ behavior: 'smooth' });
    }

    function scrollToTop() {
    window.scrollTo({
        top: 0,
        behavior: 'smooth'
    });
}

</script>

</body>
</html>
